@import '../../common_projects_utilities/css/reset',
		'../../common_projects_utilities/css/font-awesome';


/* FONTS */
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;


/* COLORS */
$body-color: #fff;
$secondary-color: #828282;
$theme-color: #dbdbdb;
$background-color: #000;


/* GENERAL */
body {
	font-family: $roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	color: $body-color;
	background-color: $background-color;
}
a {text-decoration: none;}
img {
	max-width: 100%;
	height: auto;
}
p {margin-bottom: 24px;}
ul {list-style: none;}
li {
	position: relative;
	padding-left: 16px;
	margin-bottom: 30px;
	&::before {
		content: '-';
		position: absolute;
		top: 0;
		left: 0;
	}
}
strong {font-weight: 700;}
video {max-width: 100%;}

/* HELPERS */
.block {display: block;}
.block-desktop {display: block;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-uppercase {text-transform: uppercase;}
.relative {position: relative;}
.no-margin {
	&--bottom {margin-bottom: 0;}
	&--top {margin-top: 0;}	
}
.color {color: $theme-color;}

.visible-mobile {display: none;}

.ec_visit_pixel {position: absolute;}

/* LAYOUT */
.container {
	width: 100%;
	max-width: 972px;
	margin: 0 auto;
}
.row {
	display: flex;
	&--column {flex-direction: column;}
	&--center {justify-content: center;}
	&--between {justify-content: space-between;}
	&--end {justify-content: flex-end;}
	&--astart {align-items: flex-start;}
	&--acenter {align-items: center;}
}
.column {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}

/* COMMON */
.note {
	margin-top: 8px;
	font-size: 15px;
	line-height: 1.33;
	color: $secondary-color;
	display: block;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* TOPBAR */
.topbar {
	padding: 15px 0 14px;
	border-bottom: 1px dotted #fff;
}

/* HEADER */
.header {
	//height: calc(100vh - 50px);
	height: auto;
	width: 100%;

	display: flex;
	justify-content: center;	
	align-items: center;

	.b-header__box {
		width: 50%;
		height: 100%;

		display: flex;
		justify-content: center;
		//Estar pendiente por si meter margen-derecho
		align-items: center;

		.header__box {
			width: 410px;
			box-sizing: border-box;
		}
	}
	
	&__img {
		height: 100%;
		width: 50%;

		img {
			width: 100%;
		}
		
		// background: url(https://www.ecestaticos.com/file/99500c7a392bad76168aa39c58d39d3a/1616856117-1-apertura-791x670.jpg);
		// background-position: 50% 50%;
		// background-repeat: no-repeat;
		// background-size: cover;
	}
}

.title {
	font-family: $playfair;
	font-weight: bold;
	font-size: 44px;
	line-height: 1.09;
  	letter-spacing: normal;
	color: #fff;
	margin-bottom: 24px;

	text-align: center;
}
.subtitle {
	width: 100%;
	max-width: 390px;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.56;
	color: rgba(#fff,.7);

	text-align: center;
}
.pretitle {
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	margin-bottom: 24px;
}

/* SOCIALS NETWORK */
.share {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
    background: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s, visibility .6s;
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    &__icon {
    	margin: 5px 0;
        width: 32px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        border-radius: 50%;
        background: #fff;
        color: #212121;
        transition: color .4s;
        &:hover {color: $theme-color;}
    }
}

.top-logo {
	border-bottom: 1px solid #fff;
	margin: 0 0 10px;
	padding: 0 0 10px;
    img {display: block;}
}

/* CONTENT */
.content {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	&__subtitle {
		margin: 140px 0 56px;
		color: #fff;
		&-area {
			font-weight: 700;
			font-size: 15px;
			line-height: normal;
			letter-spacing: .5px;
			margin-bottom: 5px;
		}
		&-claim {
			font-family: $playfair;
			font-weight: 400;
			font-size: 54px;
			line-height: 1.07;
			letter-spacing: -1px;
		}
	}
	&__link {
		font-weight: 700;
		color: $theme-color;
		transition: opacity .6s;
		&:hover {opacity: .6;}
	}
	&__question {
		margin-top: 40px;

		font-size: 18px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.56;
		letter-spacing: normal;
	}
	&__after-answer {
		padding-top: 44px;
		margin-top: 80px;
		
		position: relative;

		&:before {
			position: absolute;
			content: '';
			top: 0;
			width: 96px;
			border: .5px solid #fff;
		}
	}
}

/* Credits */
.credits {
	margin: 80px auto;
	&__item {
		font-size: 15px;
		line-height: 1.33;
		margin-bottom: 16px;
	}
	&__label {color: $secondary-color;}
}

/* Capital letter */
.capital-letter {
	float: left;
	font-family: $playfair;
	font-size: 46px;
	line-height: 1.04;
	letter-spacing: -1px;
	margin-right: 16px;
}

/* Media (images, videos) */
.media {
	margin: 80px auto;

	&.b-img__full-width {
		width: 100%;
		height: auto;
		max-width: 1920px;
		
		img {
			width: 100%;
		}
	}
}

/* Summary */
.summary {
	margin: 80px 0;
	font-family: $playfair;
	font-weight: 400;
	font-size: 28px;
	line-height: 1.14;
	letter-spacing: -0.2px;
	padding-left: 16px;
	border-left: 4px solid $body-color;
	opacity: 0;
	visibility: hidden;
	&--animated {
		opacity: 1;
		visibility: visible;
		transition: opacity .6s, visibility .6s;
	}
}

/* FOOTER */
.footer {
	margin-top: 124px;
	&__logo {
		background: #212121;
		padding: 64px 0;
	}
}
.legalFooter {box-sizing:border-box;}


/* MEDIA QUERIES */
@media screen and (max-width: 1920px) {
	.header {
		.b-header__box {
			flex-shrink: 0;
			width: 40%;
		}
		
		&__img {
			width: 60%;
		}
	}
}

@media screen and (max-width: 1440px) {
	// .header {
	// 	.b-header__box {
	// 		width: 35%;
	// 	}
		
	// 	&__img {
	// 		width: 65%;
	// 	}
	// }
}

@media screen and (max-width: 993px) {
	.container {width: 100%;}

	.row {
		&--responsive-wrap {flex-wrap: wrap;}
		&--responsive-column {flex-direction: column;}
		&--responsive-start {justify-content: flex-start;}
		&--responsive-end {justify-content: flex-end;}
		&--responsive-aend {align-items: flex-end;}
	}
	.column {
		margin-left: auto;
		margin-right: auto;
	}

	.note {
		.content & {padding: 0 16px;}
	}

	///Nuevo
	.visible-mobile {display: block;}
	.hidden-mobile {display: none;}

	.header--mobile {
		margin-top: 60px;
		margin-bottom: 80px;
	}

	.header {
		// background: url(https://www.ecestaticos.com/file/2db43f90e1d47186c493e044acb3025f/1616856476-1-apertura-movil.jpg);
		// background-position: center center;
		// background-repeat: no-repeat;
		// background-size: cover;
		.b-header__box {
			width: 0%;
		}
		&__img {
			width: 100%;
		}
	}

	.subtitle {
		max-width: none;
	}

	.title, .subtitle, .pretitle {
		text-align: left;
	}
}

@media screen and (max-width: 767px) {
	.row {
		&--mobile-column {flex-direction: column;}
	}

	.column {
		width: 100%;
		box-sizing: border-box;
		padding: 0 16px;
	}

	.note {text-align: left;}

	.share {
		box-sizing: border-box;
	    top: auto;
	    right: auto;
	    bottom: 0;
	    transform: none;
	    flex-direction: row;
	    width: 100%;
	    padding: 10px;
	    &__icon {margin: 0 10px;}
	}

	.top-logo {
	    border-bottom: transparent;
	    border-right: 1px solid #fff;
	    margin: 0 10px 0 0;
	    padding: 0 10px 0 0;
	}

	.content {
		&__subtitle {
			margin: 64px 0 40px;
			&-claim {
				font-size: 40px;
				line-height: 1.13;
			}
		}
	}

	.media {
		margin: 64px 0;
	}

	.summary {margin: 64px 0;}

	.resume {
		margin: 120px 0 80px;
		&__title {margin-bottom: 64px;}
		&__container {padding: 0 16px;}
	}

	.quote {
		&--small {width: 100%;}
		&--even {
			align-self: flex-start;
			text-align: left;
		}
	}

	.hidden-mobile {display: none}
}

@media screen and (max-width: 425px) {
	.header--mobile {
		.title {
			font-size: 40px;
		}
		.subtitle {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 375px) {
	.header--mobile {
		.title {
			font-size: 38px;
		}
	}
}